In [1]:
print(range(5))

range(0, 5)

In [2]:
r = range(10)
print(r)

range(0, 10)

In [5]:
for i in r:
    print(range(i))

range(0, 0)
range(0, 1)
range(0, 2)
range(0, 3)
range(0, 4)
range(0, 5)
range(0, 6)
range(0, 7)
range(0, 8)
range(0, 9)

In [13]:
if(5>6):
    print(1)
elif(6<7):
    print(2)
else:
    print(3)

2

In [21]:
a = [1,4,6,7,8,6]
print(a[1:2])

[4]

In [22]:
print(set([1,1,2,2,3,3,3]))

{1, 2, 3}

In [23]:
print(set(1,1,1,2,2))

TypeError: set expected at most 1 argument, got 5

In [29]:
a = {1:'b',2:3}
print(a[1])

b

In [30]:
a = (2,4,3)
print(a)

(2, 4, 3)

In [31]:
print(a.sorted())

AttributeError: 'tuple' object has no attribute 'sorted'

In [32]:
print(a.len())

AttributeError: 'tuple' object has no attribute 'len'

In [33]:
print(len(a))

3

In [55]:
# pearson correlation
import numpy
x = [1,2,3,4,5]
y = [2,4,6,8,10]
z = [15,12,9,6,3]
correlation_matrix = numpy.corrcoef(x,y,z)
correlation_coefficient = correlation_matrix[1,1]
print(correlation_coefficient)

0.9999999999999999

In [57]:
from sklearn.linear_model import Ridge, Lasso
from sklearn.model_selection import train_test_split
from sklearn.datasets import fetch_california_housing as load_boston
from sklearn.preprocessing import StandardScaler

# Load dataset
data = load_boston()
X, y = data.data, data.target

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Standardize the features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Ridge Regression
ridge = Ridge(alpha=1.0)
ridge.fit(X_train, y_train)
ridge_score = ridge.score(X_test, y_test)

# Lasso Regression
lasso = Lasso(alpha=0.1)
lasso.fit(X_train, y_train)
lasso_score = lasso.score(X_test, y_test)

print(f"Ridge Regression R^2 Score: {ridge_score}")
print(f"Lasso Regression R^2 Score: {lasso_score}")

Ridge Regression R^2 Score: 0.5957885548359447
Lasso Regression R^2 Score: 0.4934922170016569

In [1]:
import pyodbc

# Define your connection string
conn_str = (
    "DRIVER={ODBC Driver 17 for SQL Server};"
    "SERVER=13.0.7050.2"
    "DATABASE=EDW"
    "UID=A059361"
    "PWD=Nov_2023iat"
)

# Establish the connection
try:
    conn = pyodbc.connect(conn_str)
    print("Connection successful!")
except Exception as e:
    print(f"Connection failed: {e}")
    exit()

# Create a cursor object using the connection
cursor = conn.cursor()

# Define a SQL query
query = "SELECT TOP 10 * dbo.claim"

# Execute the query
cursor.execute(query)

# Fetch all results from the executed query
rows = cursor.fetchall()

# Print the results
for row in rows:
    print(row)

# Close the connection
cursor.close()
conn.close()

Connection failed: ('08001', '[08001] [Microsoft][ODBC Driver 17 for SQL Server]Named Pipes Provider: Could not open a connection to SQL Server [53].  (53) (SQLDriverConnect); [08001] [Microsoft][ODBC Driver 17 for SQL Server]Login timeout expired (0); [08001] [Microsoft][ODBC Driver 17 for SQL Server]A network-related or instance-specific error has occurred while establishing a connection to SQL Server. Server is not found or not accessible. Check if instance name is correct and if SQL Server is configured to allow remote connections. For more information see SQL Server Books Online. (53)')

NameError: name 'conn' is not defined